@model IEnumerable<DemoApp.Models.Book>

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
    <br />

    <div class="row justify-content-md-center">
        <div class="col-10">
            <p>
                @Html.ActionLink("Create New", "New", "Book", null, new { @class = "btn btn-primary btn-sm" })
            </p>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
        </div>